body {
    font-family: 'Roboto', 'Sans Serif';
    font-size: 16px;
    padding: 0;
    margin: 0;
}
header h1 {
    text-align: center;
}
.content {
    max-width: 270px;
    background-color: #e2e2e2;
    margin: 0 auto;
    -webkit-box-shadow: 3px 4px 21px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 4px 21px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 4px 21px 0px rgba(0,0,0,0.75);
    padding: 15px;
    border-radius: 5px;
}
.content h4 {
    display: inline-block;
}
.row {
    margin-top: 20px;
    width: 100%;
}
h4 {
    position: relative;
    top: -15px;
    padding-left: 70px;
}
i.fa {
    font-size: 30px;
    position: relative;
    padding-left: 5px;
    top: 4px;
}
#health h4{
    color:#5DB61F
}
#health .onoffswitch-inner:before {
    background: #5DB61F
}
#career h4{
    color: #2E52FF
}
#career .onoffswitch-inner:before {
    background: #2E52FF
}
#family h4{
    color: #E54137;
}
#family .onoffswitch-inner:before {
    background: #E54137
}


.onoffswitch {
    position: relative; width: 100px;
    display: inline-block;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 29px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 37px; padding: 0; line-height: 37px;
    font-size: 16px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "";
    padding-left: 19px;
    background-color: #34A7C1; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "";
    padding-right: 19px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 9.5px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 59px;
    border: 2px solid #999999; border-radius: 29px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}